/* container for booking page */
.booking-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 3rem;
}

.background {
  background-color: #F6F6F6;
}

/* booking form and calendar containers*/
.booking-form {
  background: #ffffff;
  width: 80%;
  height: fit-content;
  padding: 2rem;
  border-radius: 16px;
  display: flex;
  gap: 2rem;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.08);
}

/* column */
.booking-column,
.booking-calendar {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1.2;
}

/* title */
.booking-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* labels */
.booking-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

/* inputs */
.booking-symptoms,
.booking-textarea {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fafafa;
  font-size: 14px;
}

/* add/remove */
.booking-addRemove {
  font-size: 13px;
}

.booking-addRemove .add {
  color: green;
  margin-right: 1rem;
  cursor: pointer;
}

.booking-addRemove .remove {
  color: red;
  cursor: pointer;
}

/* styling for caregivers and availabilities */
.caregiver-option,
.availabilities-option {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 0.25rem;
  background: #fafafa;
  text-align: center;
}

.caregiver-option.active,
.availabilities-option.active {
  border: 2px solid #4c9bd6;
  background: #eef3ff;
}

/* styling for confirmation modal */
.modal-overlay {
  position: fixed;
  top:0; left:0; right:0; bottom:0;
  background: rgba(0,0,0,0.5);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
}

.modal-content {
  background:#fff;
  padding:1.5rem;
  border-radius:0.5rem;
  max-width:400px;
  width:90%;
  text-align:center;
}

/* doctor info and time */
.booking-doctorInfo,
.booking-timeInfo {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  font-size: 20px;
}

/* confirm button */
.booking-confirmButton {
  width: 30% !important;  /* to overwrite button component styling */
  max-width: 400px;
  align-self: flex-end;
}