.mainContainer {
    width: 100vw;
    height: fit-content;
    display: flex;
}

.sidebar {
    width: 230px;
    height: 100vh;
    background-color: #FFFFFF;
    border-right: solid;
    border-width: 2px;
    border-color: #E3E3E3;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    color: #0073E6;
}

.mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}